---
const studies = [{
    school: "Lycée Montaigne (Bordeaux, France)",
    cursus: "Preparatory Classes for Engineering School, Specialized in Mathematics and Computer Sciences",
    date: "September 2022 - June 2024",
    desc: "Intensive two-year program preparing students for the competitive entrance exams to French engineering schools.",
    },
    {
    school: "Polytech Montpellier (France)",
    cursus: "Computer Science Engineering Student",
    date: "2024 - 2027",
    desc: "Currently enrolled in a Computer Science Engineering program, focusing on software development and data science.",
    }
];
---

<div class="studies">
    <h2>Studies</h2>

    <ul>
        {studies.map(study => (
            <li>
                <h3>{study.school}</h3>
                <p>{study.cursus}</p>
                <p>{study.date}</p>
                <p>{study.desc}</p>
            </li>
        ))}
    </ul>
</div>